.picture {
  width: 600px;
}
h1 {
  color: rgb(75, 6, 139);
  margin: 0 0 0 20px;
  padding-left: 20px;
}
a {
  text-decoration: none;
}
#canvas-bigOval {
  width: 470px;
  height: 470px;
  margin: 0 30px 10px 30px;
  border: 2px solid rgb(233, 166, 119);
  /*  background: transparent;*/
  background-color: rgb(240, 228, 211);
}
button {
  outline: none;
  text-decoration: none;
  width: 145px;
  height: 45px;
  margin: 10px 1px;
  text-align: center;
  line-height: 40px;
  font-family: Cambria, serif;
  font-weight: bold;
  font-size: 20px;
  border-radius: 7px;
  /*  background-color: rgb(160, 218, 196); */
  background: linear-gradient(
    rgb(165, 240, 240),
    LightCyan,
    rgb(155, 240, 240)
  );
  text-shadow: 0 1px rgba(255, 255, 255, 0.2), 0 -1px rgba(0, 0, 0, 0.8);
  cursor: pointer;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}
.knopki {
  width: 250px;
  margin-left: 30px;
  display: inline-block;
}
#ColorBtn {
  position: absolute;
  top: 550px;
}
#StartBtn {
  position: absolute;
  top: 550px;
  left: 201px;
}
#StopBtn {
  position: absolute;
  top: 550px;
  left: 365px;
}

button:hover {
  color: rgb(38, 8, 122);
  background-color: rgb(96, 184, 157);
  box-shadow: 0 10px 10px rgba(40, 229, 157, 0.2);
  transform: translateY(-7px);
}
button:active {
  color: brown;
}
