root {
  --tumb-outline-color: #4f6575;
  --tumb-background-color: #5cd5eb;
}

h1 {
  font-family: 'Lucida Grande', 'Lucida Unicode', 'Lucida Sans', sans-serif;
  font-size: 36px;
  padding: 5px 2px;
  margin: 0 40px 40px 40px;
}

body {
  width: 1000px;
}
.container {
  width: 600px;
  position: absolute;
  top: 50px;
  left: 600px;
}
#colorpicker {
  width: 300px;
  margin: 10px 30px 10px 30px;
}
#colorpicker1 {
  width: 300px;
}
#colorbox {
  position: absolute;
  top: 440px;
  left: 30px;
  display: block;
  width: 350px;
  height: 100px;
  margin: 10px 20px;
}
#color1 {
    border: none;
    font-family: Courier New, Courier, serif;
    font-size: 40px;
    font-weight: bold;
    width: 200px;
    margin: 20px 20px 0 30px;
    padding: 20px 10px 20px 10px;
    box-shadow: 3px 3px 10px darkgray;
    text-shadow: 2px 1px #090d18;
    text-align: center;
}

#colorSliders {
  position: absolute;
  top: 340px;
  left: 10px;
  width: 400px;
  height: 250px;
}

.slider {
  -webkit-appearance: none;
  background: transparent;
  width: 300px;
  height: 23px;
  margin: 0 20px 15px 30px;
  cursor: pointer;
  clear: both;
  overflow: hidden;
  border-radius: 7px;
}

/***** Стили дорожки *****/
/***** Chrome, Safari, Opera и Edge Chromium *****/
.slider::-webkit-slider-runnable-track {
  height: 22px;
  border: none;
  background: #dbdbe5;
}

.slider::-ms-fill-upper {
  background-color: #e0c1b5;
}

/******** Firefox ********/
.slider::-moz-range-track {
  height: 22px;
  border: none;
  background-color: #e0c1b5;
  border-radius: 7px;
}

#redSlider::-moz-range-progress {
  background: #ff0000;
  height: 20px;
}

#greenSlider::-moz-range-progress {
  background: #00ff00;
  height: 20px;
}

#blueSlider::-moz-range-progress {
  background: #0000ff;
  height: 20px;
}

/****** стили ползунка ******/
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 22px;
  width: 30px;

  background-color: #7a7d7e;
  background: linear-gradient(#7a7a7a, #5cd5eb, #7a7a7a);
  margin-top: 0.5px;
  border-radius: 20%;
}

.slider::-moz-range-thumb {
  height: 22px;
  width: 30px;
  background: linear-gradient(#7a7a7a, #5cd5eb, #7a7a7a);
  border: none;
  border-radius: 20%;
}

#redSlider::-webkit-slider-thumb {
  box-shadow: -200px 0 0 200px #fc0909;
}

#greenSlider::-webkit-slider-thumb {
  box-shadow: -200px 0 0 200px #00ff00;
}

#blueSlider::-webkit-slider-thumb {
  box-shadow: -200px 0 0 200px #0000ff;
}

/***** Стили фокусировки *****/
/* Удаляем фокус по умолчанию */
.slider:focus {
  outline: none;
}

/***** Chrome, Safari, Opera и Edge Chromium *****/
.slider:focus::-webkit-slider-thumb {
  outline: 2px solid var(--tumb-outline-color);
  background: linear-gradient(#080808, #5cd5eb, #080808);
}

/******** Firefox ********/
.slider:focus::-moz-range-thumb {
  outline: 2px solid var(--tumb-outline-color);
  background: linear-gradient(#080808, #5cd5eb, #080808);
}

.label {
  outline: none;
  border: none;
  width: 30px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: rgba(93, 92, 92, 0.78);
}

#bLabel {
  position: absolute;
  top: 82px;
  left: 0;
}

#gLabel {
  position: absolute;
  top: 41px;
  left: 0;
}

#rLabel {
  position: absolute;
  top: 2px;
  left: 0;
}
